{% extends 'layout.html' %}


{% block 'main_content' %}


    <!-- Modal Start -->
    <div
      class="modal fade fade-scale searchmodal"
      id="searchmodal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal">
              <i class="ri-close-line"></i>
            </button>
          </div>
          <div class="modal-body">
            <form class="modal-search-form">
              <input
                type="search"
                class="search-field"
                placeholder="Search..."
              />
              <button type="submit"><i class="ri-search-line"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->

    <!-- Sidebar Modal -->
    <div
      class="sidebarmodal modal right fade"
      id="sidebarmodal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="sidebar-logo">
              <img src="assets/images/logos/logo-2.png" alt="Image" />
            </div>

            <button type="button" class="close" data-bs-dismiss="modal">
              <i class="ri-close-line"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="sidebar-about">
              <h3>About Us</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut tur incidunt ut labore et
              </p>
            </div>
            <div class="contact-us">
              <h3>Contact Information</h3>
              <ul class="contact-item">
                <li>
                  <i class="ri-phone-line"></i>
                  <div class="content">
                    <h4>Office Address</h4>
                    <p>4252 Stanton Hollow Road,New York USA</p>
                  </div>
                </li>

                <li>
                  <i class="ri-message-2-line"></i>
                  <div class="content">
                    <h4>Call Us</h4>
                    <p>
                      <a href="tel:+1(044)123456789">+1 (044) 123 456 789</a>
                    </p>
                  </div>
                </li>
                <li>
                  <i class="ri-map-pin-line"></i>
                  <div class="content">
                    <h4>Email Us</h4>
                    <p>
                      <a
                        href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#31585f575e71565e5d505f1f525e5c"
                        ><span
                          class="__cf_email__"
                          data-cfemail="aac3c4ccc5eacdc5c6cbc484c9c5c7"
                          >[email&#160;protected]</span
                        ></a
                      >
                    </p>
                  </div>
                </li>
                <li>
                  <i class="ri-time-line"></i>
                  <div class="content">
                    <h4>Office Open</h4>
                    <p>Sun - Fri (08AM - 10PM)</p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="sidebar-follow-us">
              <h3>Follow Us</h3>
              <ul class="social-wrap">
                <li>
                  <a href="https://twitter.com/?lang=en" target="_blank">
                    <i class="flaticon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="flaticon-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="flaticon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="flaticon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="sidebar-newsletter">
              <h3>Newsletter</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices
              </p>
              <div class="sidebar-newsletter-area">
                <form
                  class="sidebar-newsletter-form"
                  data-toggle="validator"
                  method="POST"
                >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter Your Email"
                    name="EMAIL"
                    required
                    autocomplete="off"
                  />
                  <button class="subscribe-btn" type="submit">
                    <i class="flaticon-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Sidebar Modal -->

    <!-- Inner Banner -->
    <div class="inner-banner inner-bg10">
      <div class="container">
        <div class="inner-title">
          <h3>Register</h3>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>Register</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Inner Banner End -->

    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="user-all-form">
              <div class="contact-form">
                <h3 class="user-title">Register</h3>
                <form id="contactForm" action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          required
                          placeholder="First Name"
                          name="firstname"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          required
                          placeholder="Last Name"
                          name="lastname"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          required
                          data-error="Email"
                          placeholder="Email"
                          name="email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          required
                          data-error="Username"
                          placeholder="Username"
                          name="username"
                        />
                      </div> 
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          required
                          data-error="Password"
                          placeholder="Password"
                          name="password"
                        />
                      </div>
                    </div>
{% comment %} 
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          required
                          data-error="Repeat Password"
                          placeholder="Repeat Password"
                          name="repeat_password"
                          />
                      </div>
                    </div> {% endcomment %}


                    <div class="col-lg-12 col-md-12">
                      <button type="submit" class="default-btn border-radius-5 form-control">
                        Register Now
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Area End -->
{% endblock  %}