{% extends 'admin_layout.html' %}


{% block 'main_content' %}
<div class="white_card card_height_100 mb_30">
    <div class="white_card_header">
    <div class="box_header m-0">
    <div class="main-title">
    <h1>Add Products</h1>
    </div>
    </div>
    </div>
    <div class="white_card_body">
    <div class="card-body">
    <form method="POST"  enctype="multipart/form-data" action="{% url 'postAddProduct' %}">
      {% csrf_token %}
    <div class="row mb-3">
    <div class="col-md-6">
    <label class="form-label">Product Name</label>
    <input type="text" class="form-control" name="productname" placeholder="Enter Product Name">
    </div>
    <div class=" col-md-6">
    <label class="form-label">Enter Product Price</label>
    <input type="text" class="form-control"name="productprice" placeholder="Enter Product Price">
    </div>
    </div>
    <div class=" col-md-6">
    <label class="form-label">Enter Product Old Price</label>
    <input type="text" class="form-control"name="productoldprice" placeholder="Enter Product Old Price">
    </div>
    </div>
    <div class=" col-md-6">
            <label class="form-label">Enter Product Descripton</label>
            <input type="text" class="form-control"name="productdescription" placeholder="Enter Product Descripton">
            </div>
            </div>
    <div class=" col-md-2">
    <label class="form-label" for="inputZip">Enter Products Pic</label>
    <input type="file" name="productimage" class="form-control">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Add New Prodcut</button>
    </form>
    </div>
    </div>
    </div>



{% endblock  %}